@import '../../App.scss';

.messageEnter {
    display: flex;
    background-color: $header_background;
    height: 70px;
    flex-shrink: 0;
    align-items: center;
    padding: 0 30px;
    font-size: 25px;
    color: $icons;
    position: fixed;
    bottom: 0;
    width: 55%;

    .icon {
        margin-right: 20px;
    }

}